<h1>Jon's Word Ladder</h1>
<hr>
<p>
Fill in each step with a word that differs from the word in the previous step by no more than one character. Once you reach a word that differs from the goal by only one letter, you can stop and leave the remainder of the steps empty.
</p>
<br><br>
<%=form_tag(query_path, method: "get")do %>
  <%=hidden_field_tag 'start_word', @word1 %>
  <%=@word1 %>
  <br>
  <%=label_tag(:word1,"Step 1: ")%>
  <%=text_field_tag(:word1)%>
  <br>
  <%=label_tag(:word2,"Step 2: ")%>
  <%=text_field_tag(:word2)%>
  <br>
  <%=label_tag(:word3,"Step 3: ")%>
  <%=text_field_tag(:word3)%>
  <br>
  <%=label_tag(:word4,"Step 4: ")%>
  <%=text_field_tag(:word4)%>
  <br>
  <%=label_tag(:word5,"Step 5: ")%>
  <%=text_field_tag(:word5)%>
  <br>
  <%=hidden_field_tag 'end_word', @word2 %>
  <%=@word2 %>
  <%=submit_tag("Check Answer")%>
  <br>
<% end %>
<br>


