<%=link_to "Main Page",root_path %>
<br><br>
<h3>Your Guesses</h3>
<table cellpadding="3" border="1">
  <tbody>
  <tr>
    <td>Start:</td>
    <td><%=@start%></td>
  </tr>
  <tr>
    <td>Word 1:</td>
    <td><%=@word1%></td>
  </tr>
  <tr>
    <td>Word 2:</td>
    <td><%=@word2%></td>
  </tr>
  <tr>
    <td>Word 3:</td>
    <td><%=@word3%></td>
  </tr>
  <tr>
    <td>Word 4:</td>
    <td><%=@word4%></td>
  </tr>
  <tr>
    <td>Word 5:</td>
    <td><%=@word5%></td>
  </tr>
  <tr>
    <td>End:</td>
    <td><%=@end%></td>
  </tr>
  </tbody>
</table>
<h3><%=@result%></h3>

