<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">

</head>

<header class="bgimage">
  <div class="container title">
    <h1>FRIEND CLUB SECRET SANTA</h1>
  </div>
</header>
<body>
<div class="container">
<div class="row">
<div class="col-md-4 col-md-offset-1">
  <p>Check your profile to be able to see who you have
  been assigned as your secret santa target. Other
  users can view your profile but will not be able to 
  see who you were assigned.</p>
  <p>Also check your targets profile to see where he
  or she will be on Christmas and what address to
  send any gifts on etc.</p>
</div>
</div>
</div>

<div class="container">
<div class="row">
<div class="span4 offset2">
  <table class="table">
    <thead>
      <tr>
        <th>Name</th>
        <th>Description</th>
        <th>Address</th>
        <th colspan="3"></th>
      </tr>
    </thead>

    <tbody>
      <% @users.each do |user| %>
        <tr>
          <td><%= user.name %></td>
          <%@profiles.each do |profile| %>
            <% if profile.my_id == user.id then %>
              <td><%= profile.description %></td>
              <td><%= profile.address %></td>
              <td><%= link_to 'View Profile', profile%></td>
            <%end%>
          <%end%>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
</div>
</div>

  <br>
  <% if !@created && @user then %>
    <%= link_to 'Edit Your Profile', new_profile_path %>
  <%end%>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
</body>


