<p id="notice"><%= notice %></p>

<h1>Everyone Who's Signed Up</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Descrittion</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @users.each do |user| %>
      <tr>
        <td><%= user.name %></td>
        <%@profiles.each do |profile| %>
          <% if profile.my_id == user.id then %>
            <td><%= profile.description %></td>
            <td><%= link_to 'Show', profile%></td>
          <%end%>
        <%end%>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Profile', new_profile_path %>
