
<pre><strong>
Only you can edit/delete your profile. Whoever
you are assigned will show up after "Target:"
on Thanksgiving morning. This field is only 
viewable by you and only if you are logged in.
</strong></pre>

<p>
  <strong>Name:</strong>
  <%= @use.name %>
</p>
<p>
  <strong>ID:</strong>
  <%= @use.id%>
</p>

<p>
<strong>Target:</strong>
<%if current_user && current_user.id == @profile.my_id && @target then %>
  <%= @target.name %>
<%end%>
<p>
  <strong>Description:</strong>
  <%= @profile.description %>
</p>
<p>
  <strong>Address:</strong>
  <%= @profile.address%>
</p>
<p>
  <strong>X-mas day location:</strong>
  <%= @profile.location%>
</p>

<%= link_to 'Back', profiles_path %> |
<% if current_user && current_user.id == @profile.my_id then %>
  <%= link_to 'Edit', edit_profile_path(@profile) %> |
  <%= link_to 'Destroy', @profile, method: :delete, data:{confirm: 'Are you sure?'}%>
<%end%>
