<%= form_for(@imageUsers) do |f| %>

      <div class="field">
        <%= f.label :filename %><br>
        <%= f.text_field :filename %>
      </div>
      <div class="field">
        <%= f.label :private %><br>
        <%= f.number_field :private %>
      </div>
      <div class="field">
        <%= f.label :user_id %><br>
        <%= f.number_field :user_id %>
      </div>
      <div class="field">
        <%= f.label :user_id %><br>
        <%= f.text_field :user_id %>
      </div>
      <div class="actions">
        <%= f.submit %>
      </div>
    <% end %>
