<p id="notice"><%= notice %></p>
<%if @user then%>
  <%= link_to 'New Image', new_image_path %>
<%end%>
<br><br>

  <h1>Public Images</h1>
  <% @pubImages.each do |image| %>
      <% if !@user then %>
        <%= link_to(image_tag(root_url + "/images/" + image.filename, size: "100x100", alt: image.filename), image) %>
      <%else%>
        <%if @user.id != image.user_id then%>
        <%= link_to(image_tag(root_url + "/images/" + image.filename, size: "100x100", alt: image.filename), image) %>
        <%end%>
      <%end%>
    <% end %>

  
  <h1>Your Images<h1>
      <%if @user then %>
        <% @myImages.each do |mimage| %>
            <%= link_to(image_tag(root_url + "/images/" + mimage.filename, size: "100x100", alt: mimage.filename),mimage) %>
        <% end %>
      <%end%>

    
  <h1>Images Shared With You<h1>
      <%if @user then %>
        <% @priImages.each do |pimage| %>
        <%= link_to(image_tag(root_url + "/images/" + pimage.filename, size: "100x100", alt: pimage.filename),pimage) %>
        <%end%>
      <%end%>
