<p id="notice"><%= notice %></p>

<p>
<img src="<%= @image.filename %>" alt="whatever" style="width:400px;height:400px;">
</p>

<h2>Tags</h2>
<%if @user && @user.id == @image.user_id then %>
  <% @image.tags.each do |tag| %>
    <% if !tag.new_record? then %>
      <tr>
        <td><%= tag.str %></td>
        <td><%= link_to 'Destroy', tag, method: :delete, data: {confirm: 'Are you sure?'}%></td><br>
      </tr>
    <%end%>
  <%end%>
<%else%>
  <% @image.tags.each do |tag| %>
    <tr>
      <td><%= tag.str %></td><br>
    </tr>
  <%end%>
<%end%>

<h2>Change Private/Public</h2>
<%= form_for(@image) do |f| %>
  <div class = "field">
    <%= f.check_box(:private) %>If Checked Image Is Private
    <%= f.hidden_field :id, :value => @image.id %>
    <%= f.hidden_field :user_id, :value => @image.user_id %>
    <%= f.hidden_field :filename, :value => @image.filename %>
    <div class ="actions">
      <%= f.submit%>
  </div>
  <%end%>

<h2>Image Users</h2>
<%if @user && @user.id == @image.user_id then %>
  <% @curUsers.each do |f| %>
    <tr>
      <td><%= f.name %></td>
      <% @imageUsers.each{|i| if i.image_id == @image.id && i.user_id == f.id then @use = i end}%>
      <td><%= link_to 'Destroy', @use, method: :delete, data: {confirm: 'Are you sure?'}%></td><br>
    </tr>
  <%end%>
<%else%>
  <% @curUsers.each do |f| %>
    <tr>
      <td><%= f.name %></td><br>
    </tr>
  <%end%>
<%end%>




<br>
<% if @user then%>
  <%if @user.id == @image.user_id then%>
    <h3>Add a Tag</h3>
    <%= render 'tags/form'%>
    <h3>Add A User to Image</h3>
    <%= form_for(@imageuser) do |f| %>
      <div>
        <%= f.hidden_field :image_id, :value => @image.id %>
      <div>
        <%= f.label :user_id %>
        <%= f.select(:user_id, options_for_select(@users)) %>
      </div>
      <div class ="actions">
        <%= f.submit %>
      </div>
    <%end%><br>
    <%= link_to 'Destroy', @image, method: :delete, data: {confirm: 'Are you sure?'}%> |
  <%end%>
<%end%>

<%= link_to 'Back', images_path %>
