<p id="notice"><%= notice %></p>

<p>
<img src="<%= @image.filename %>" alt="whatever" style="width:400px;height:400px;">
</p>

<h2>Tags</h2>
<%if @user && @user.id == @image.user_id then %>
  <% @image.tags.each do |tag| %>
    <tr>
      <td><%= tag.str %></td>
      <td><%= link_to 'Destroy', tag, method: :delete, data: {confirm: 'Are you sure?'}%></td><br>
    </tr>
  <%end%>
<%else%>
  <% @image.tags.each do |tag| %>
    <tr>
      <td><%= tag.str %></td><br>
    </tr>
  <%end%>
<%end%>

<h2>Image Users</h2>
<%if @user && @user.id == @image.user_id then %>
  <% @curUsers.each do |f| %>
    <tr>
      <td><%= f.name %></td>
      <% user = @imageUsers.find(f.id) %>
      <td><%= link_to 'Destroy', user, method: :delete, data: {confirm: 'Are you sure?'}%></td><br>
    </tr>
  <%end%>
<%else%>
  <% @curUsers.each do |f| %>
    <tr>
      <td><%= f.name %></td><br>
    </tr>
  <%end%>
<%end%>




<br>
<% if @user then%>
  <%if @user.id == @image.user_id then%>
    <h3>Add a Tag</h3>
    <%= render 'tags/form'%>
    <h3>Add A User to Image</h3>
    <%= form_for(@imageuser) do |f| %>
      <div>
        <%= f.hidden_field :image_id, :value => @image.id %>
      <div>
        <%= f.label :user_id %>
        <%= f.select(:user_id, options_for_select(@users)) %>
      </div>
      <div class ="actions">
        <%= f.submit %>
      </div>
    <%end%><br>
    <%= link_to 'Edit', edit_image_path(@image) %> |
  <%end%>
<%end%>

<%= link_to 'Back', images_path %>
