<p id="notice"><%= notice %></p>

<p>
  <strong>Filename:</strong>
  <%= @image.filename %>
</p>

<p>
  <strong>Private:</strong>
  <%= @image.private %>
</p>

<p>
  <strong>User:</strong>
  <%= @image.user_id %>
</p>

<p>
<img src="<%= @image.filename %>" alt="whatever" style="width:304px;height:304px;">
</p>

<% if @user then%>
  <%if @user.id == @image.user_id then%>
    <%= link_to 'Edit', edit_image_path(@image) %> |
  <%end%>
<%end%>
<%= link_to 'Back', images_path %>
