<p id="notice"><%= notice %></p>

<h1>Listing Rejects</h1>

<table>
  <thead>
    <tr>
      <th>User</th>
      <th>Profile</th>
      <th>Profile</th>
      <th>User</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @rejects.each do |reject| %>
      <tr>
        <td><%= reject.user_id %></td>
        <td><%= reject.profile_id %></td>
        <td><%= reject.profile %></td>
        <td><%= reject.user %></td>
        <td><%= link_to 'Show', reject %></td>
        <td><%= link_to 'Edit', edit_reject_path(reject) %></td>
        <td><%= link_to 'Destroy', reject, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Reject', new_reject_path %>
